@import "./components/base";
@import "./components/variables";

.spaceship {
    display: flex;
    flex-direction: column;
    transition: backgroun-color 1s;

    &.active {
        background-color: #ffffff;
    }

    section {
        &.spacesuit {
            width: 100%;
        }
    }

    header.head,
    footer.feet {
        @include typography();
    }

    header.head,
    footer.feet {
        padding: 0.5em 1em;
        color: rgba($color: #000000, $alpha: 0.4);
        text-align: center;
    }
}

.spacesuit {

    // display: flex;
    // border: 1px solid red;
    // margin-bottom: 1em;
    .torso {
        display: flex;
        flex-direction: row;
        width: 100%;

        section {
            // border: 1px solid red;

            // <Outlet />
            &.main {
                width: 100%;
            }
        }
    }

    .beltaloda {
        display: flex;
        font-size: 1.5em;
        justify-content: space-between;
        border-bottom: 1px dashed lightblue;

        a {
            align-items: center;
            display: flex;
            flex-direction: column;
            font-size: 1em;
            line-height: 1.2;
            text-decoration: none;
        }


        .emj {
            font-size: 1.5em;
        }

        .label {
            // color: rgba($color: #000000, $alpha: 0.4);
            color: lightblue;
            font-family: "Noto Sans", sans-serif;
            font-size: small;
        }
    }
}

.explain {
    text-align: center;
}