.story {
    background-color: rgba($color-white, 0.6);
    border-radius: 3px;
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    font-size: $default-font-size;
    margin: 0 auto;
    padding: 6rem 6rem 6rem 9rem;
    transform: skewX(-12deg);
    width: 75%;

    &__shape {
        -webkit-clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%); // for Safari
        clip-path: circle(50% at 50% 50%);
        float: left;
        height: 15rem;
        overflow: hidden; // fixes image's outlines showing
        position: relative;
        shape-outside: circle(
            50% at 50% 50%
        ); // defines the outside of the shape
        transform: translateX(-3rem) skewX(12deg); // shift circle west
        width: 15rem;
    }

    &__img {
        backface-visibility: hidden;
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        backface-visibility: hidden; // fixes the jolt at the end of movement
        color: $color-white;
        font-size: 1.7rem;
        left: 50%;
        opacity: 0;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        top: 50%;
        transform: translate(-50%, 20%);
        transition: all 0.5s;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__img {
        filter: blur(3px) brightness(80%);
        transform: translateX(-4rem) scale(1);
    }
}
