// @import "../../Layout/components/base";
@import "../components/mixins";
@import "../../Layout/components/variables";

.spaceship {
    section {
        &.spaceship-navigation {
            // background-color: antiquewhite;
            @include typography();
            font-family: "Open Sans", sans-serif;
            text-transform: lowercase;
            margin: 1em;
            overflow-x: scroll;

            nav {
                ul {
                    border-right: 1px solid #130642;
                    display: flex;
                    flex-direction: row;
                    list-style-type: none;
                    padding: 0 0.33em 0 0;
                    // background-color:  #1103253d;

                    li {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.5em;
                        margin: 0 10px;
                        text-transform: lowercase;
                        width: 100%;

                        a {
                            color: $color2;
                        }

                        .underline {
                            display: block;
                            height: 3px;
                            background-color: $color1;
                            width: 0%;

                            transition-duration: 300ms;
                            transition-timing-function: ease-in-out;
                        }

                        &:hover {
                            a {
                                color: $color1;
                            }

                            .underline {
                                width: 100%;
                            }
                        }

                        transition: all;
                        transition-duration: 0.3s;
                    }

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}