#asti {
    font-size: large;
    font-family: "Noto Sans", sans-serif;



    @mixin spacing {
        margin-right: 3px;
        padding: 3px 5px;
    }

    @mixin shape {
        border-radius: 10px;
    }

    .any {
        background-color: #333;
        color: white;
        @include spacing();
        @include shape;
    }

    .be {
        background-color: rgb(206, 152, 152);
        color: aliceblue;

        text-transform: uppercase;
        // @include spacing();
        padding: 3px 5px;
        margin-right: 0;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        text-shadow: 1px 1px 2px black;
    }

    .definite {
        color: rgb(222, 187, 123);
    }

    .group {
        border: 1px solid gray;
        border-radius: 0.2em;
        // @include spacing();
        // @include shape();

        padding: 0.8em 0.1em;
        margin: 1em 0.5em 1em 0em;
    }

    .groups {
        display: flex;
        flex-wrap: wrap;
    }

    .indefinite {
        color: lightgreen;
    }

    .line {
        margin: 3em 0;
    }

    .no {
        background-color: crimson;
        color: white;
        @include spacing();
        @include shape;
    }

    .not {
        background-color: crimson;
        color: white;
        // @include spacing();
        // @include shape;
        padding: 3px 5px;
        margin-left: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .plur {
        background-color: rgb(11, 108, 108);
        @include spacing();
        @include shape;
    }

    .que {
        background-color: rgb(31, 136, 222);
        color: white;
        // @include spacing();
        // @include shape;
        // width: 1em;
        // padding: 0.5em 0;
        // height: 2em;
        width: 1em;
        text-align: center;
        // border-radius: 50%;
        display: inline-block;
    }

    .sing {
        background-color: #555;
        @include spacing();
        @include shape;
    }

    .some {
        background-color: rgb(187, 132, 30);
        color: white;
        @include spacing();
        @include shape;
    }

    .there {
        background-color: lightblue;
        color: #333;
        @include spacing();
        @include shape;
        text-transform: uppercase;
    }















    h1 {
        // background-color: yellow;
    }
}