.cnicro {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "Noto Sans", sans-serif;
    width: 100%;

    .kimbo {
        button {
            display: flex;
            align-items: center;
            padding: 0.5em;
            background-color: #3589d9;
            color: white;
            font-weight: 600;

            span {
                font-size: 1.5em;
            }
        }
    }


    .sncBlock {
        border: 3px solid brown;
        border-radius: 10px;
        padding: 1em;
        margin: 0.5em 3px;
    }

    .jimbo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .snc {
        align-items: anchor-center;
        border-radius: 10px;
        display: flex;
        // flex-direction: column;
        font-size: 25px;
        margin: 0.5em 0;
        max-width: fit-content;
        // padding-bottom: 0.5em;
        padding: 3px;

        &.negative {
            border: 3px solid coral;

        }

        &.positive {
            border: 3px solid greenyellow;
        }

        &.question {
            border: 3px solid lightskyblue;
        }




        .word {
            // border: 1px dashed lightblue;
            border-radius: 3px;
            display: flex;
            height: min-content;
            // font-size: large;
            // font-weight: 900;
            line-height: 1;
            margin: 0 3px;
            max-width: min-content;
            padding: 10px;
            position: relative;

            &.pron,
            &.verb {
                color: white;

                &._1ps {
                    background-color: green;
                }

                &._3ps {
                    background-color: red;
                    // border-radius: 10px;
                }

                &._pl {
                    background-color: #3173c5;
                }


            }

            &.verb {
                position: relative;

                &.be {
                    align-items: center;
                    // background-color: purple;                    
                    // border-color: crimson;
                    color: white;
                    flex-direction: column;
                    min-width: 2em;
                    font-weight: 600;

                    //---------
                    background-color: rgb(255, 223, 96);
                    // border: 3px solid brown;
                    color: brown;

                    .emoji {
                        font-size: 0.5em;
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                }
            }


            i {
                font-style: normal;
            }

            b {
                font-weight: 500;
            }

            &.pron {
                &._pl {}
            }

            &.adv {
                &.not {
                    background-color: crimson;
                    border-radius: 20px;
                    color: white;
                    border: 3px solid white;
                    box-shadow: 0px 0px 1px 1px black;
                }
            }
        }

        .baseForm {
            display: none;
            // border-top: 1px dashed white;
            color: rgba($color: white, $alpha: 0.7);
            // color: white;
            font-size: medium;
            // font-weight: 900;
            position: absolute;
            top: 2px;
            right: 2px;
        }


        .avatar {

            // left: 0;
            // position: absolute;
            // top: 0;
        }
    }
}