.grm02 {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Noto Sans", sans-serif;

    ol {
        margin-left: 1.5em;
    }

    li {
        margin-bottom: 1em;
    }

    .s {

        align-items: center;
        background-color: white;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        font-size: xx-large;
        margin: 0.3em;
        padding: 0.2em;

        // noun phrase
        .np {
            background-color: #dd4b4b;
            color: white;
            padding: 0.5em;
        }

        // verb phrase (predicate)
        .vp {
            background-color: lightgreen;
            padding: 0.5em;
        }

        // main verb phrase
        .mvp {
            background-color: lightgoldenrodyellow;
            padding: 3px;
        }

        .adjp {
            background-color: white;
            margin-left: 0.5em;
        }


        div {
            font-style: normal;
            display: flex;
            border-radius: 3px;
            margin: 0 3px;

            &.long {
                display: flex;
            }

            &.short {
                display: none;
            }

            &.not {
                color: yellow;
                background-color: orange;
                padding: 0 3px;
            }

            &.do {
                color: white;
                background-color: gray;
                padding: 0 3px;
            }

            &.be {
                color: white;
                background-color: rgb(79 154 215);
                padding: 0 3px;
            }
        }



        &:hover {
            background-color: white;

            div {

                &.long {
                    display: none;
                }

                &.short {
                    // color: red;
                    display: flex;
                    // font-weight: 600;
                }
            }

        }

    }


}