.kooi {
    font-family: "Noto Sans", sans-serif;

    .henry {
        color: crimson;
        font-size: xx-large;
        font-weight: 900;
        line-height: 1.1;
    }

    .linda {
        font-size: large;
        margin-top: 1em;

        b {
            color: crimson;
            font-weight: 800;
        }
    }
}