$end: 2000;

@keyframes dash {
    from {
        stroke-dashoffset: $end;
    }
    to {
        stroke-dashoffset: 0;
    }
}

#sam {
    .name {
        width: 180px;
        // background-color: #1c1c6d;
        .path {
            width: 100px;
            stroke-dasharray: $end;
            stroke-dashoffset: $end;
            animation: dash 3s linear forwards infinite;
        }
    }
}
