#alfabeta {
    display: flex;
    flex-direction: column;
    font-family: "Noto Sans", serif;

    .gutierrez {
        align-items: center;
        border-radius: 1em;
        box-shadow: 1px 1px 1px #9b8c8c;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        line-height: 1.3;
        margin-bottom: 0.5em;
        padding: 0 10px;


        &.ay {
            background-color: rgb(245 214 214);
        }

        &.ee {
            background-color: #ceff83;
        }

        &.igh {
            background-color: lightblue;
        }

        &.ou {
            background-color: rgb(181, 159, 229);
        }

        .group {
            line-height: 1;

            >div {
                // width: 100%;
                // text-align: end;
                text-align: center;


                &::before,
                &::after {
                    content: "/";
                    color: #666;
                }
            }
        }

        .polly {
            margin: 0.5em;
            font-size: x-large;
            font-weight: 600;
        }

        .rob {
            // background-color: #333;
            // color: white;
            color: #333;
            color: gray;
            font-size: 1em;
            padding: 3px;
        }

        .toby {
            color: blue;
            font-size: 2em;
        }

        .hood {
            // color: rgb(214, 96, 54);
            color: gray;
            font-size: 0.7em;

        }

        .lidia {
            font-size: 5em;
            font-weight: 600;
            min-width: 1em;
            text-align: center;
        }
    }
}