#zunsna {
    // border: 1px solid red;
    font-family: "Noto Sans", sans-serif;
    font-size: x-large;

    .blair {
        padding: 2px 2px 1em;
        margin: 3px 3px 1em;
    }

    .pam {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0 0.3em;
        margin: 0 0 0.2em;
        width: fit-content;
    }

    .dwight {
        border-radius: 3px;
        border: 1px solid gray;
        min-width: 2em;
        text-align: center;
    }

    .frisco {
        border-bottom: 1px solid blue;

    }

    .jorge {
        // border: 1px solid green;
        border-bottom: 1px solid green;
    }

    .gonzalo {
        // border: 1px solid red;
    }

    .chapelle {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3px;

        div {
            // border: 1px solid blue;
            margin-right: 3px;
            letter-spacing: 1px;
        }
    }

    .voiced {
        font-style: normal;

        &.non {
            color: brown;
            font-weight: 900;
        }

        &.yes {
            color: rgb(213, 50, 178);
            font-weight: 900;
        }

    }

    .phoneme {
        color: blue;
        font-style: normal;
        font-weight: 900;
    }

    .asa {
        background-color: brown;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;
    }

    .aza {
        background-color: red;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;
    }


    .inset {
        background-color: #6a8df3;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;

    }

    .spell_ {
        background-color: bisque;
        color: brown;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1em;
        letter-spacing: normal !important;
        line-height: 1;
        margin-left: 1em;
        padding: 2px;
    }

}