#zunsna {
    width: 100%;
    // border: 1px solid red;
    font-family: "Noto Sans", sans-serif;
    font-size: x-large;


    .tabs {
        display: flex;
        border-bottom: 2px solid #ccc;

        .tab {
            padding: 10px 20px;
            background: #f7f7f7;
            border: none;
            cursor: pointer;
            font-weight: 500;
            transition: background 0.3s ease;

            &.active {
                background: #fff;
                border-bottom: 2px solid #007bff;
                color: #007bff;
            }

            &:hover:not(.active) {
                background: #eaeaea;
            }
        }
    }

    .tab-content {
        // padding: 20px;
        // border: 1px solid #ccc;
        border-top: none;
    }


    .blair {
        padding: 2px 2px 1em;
        margin: 3px 3px 1em;
    }

    .pam {
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.3em;
        margin: 0 0 0.2em;
        width: fit-content;
    }

    .dwight {
        border-radius: 3px;
        border: 1px solid gray;
        min-width: 2em;
        text-align: center;
    }

    .frisco {
        border-bottom: 1px solid blue;

    }

    .jorge {
        // border: 1px solid green;
        border-bottom: 1px solid green;
    }

    .gonzalo {
        // border: 1px solid red;
    }

    .chapelle {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0.5em;

        div {
            // border: 1px solid blue;
            margin-right: 3px;
            letter-spacing: 1px;
        }
    }

    .voiced {
        font-style: normal;

        &.non {
            color: brown;
            font-weight: 900;
        }

        &.yes {
            color: rgb(213, 50, 178);
            font-weight: 900;
        }

    }

    .phoneme {
        color: blue;
        font-style: normal;
        font-weight: 900;
    }

    .asa {
        background-color: brown;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;
    }

    .aza {
        background-color: red;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;
    }


    .inset {
        background-color: #6a8df3;
        color: white;
        font-style: normal;
        font-weight: 900;
        padding: 0 2px;

    }

    .prncd {
        color: #94c3ff;
        font-weight: 900;
    }

    .slash {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 56%;
            left: -5px;
            width: 180%;
            height: 2px;
            background: rgba(255, 0, 0, 0.5);
            transform: rotate(-106deg);

        }
    }

    .spell_ {
        // background-color: bisque;
        // color: brown;
        color: #bbb;
        // font-family: 'Times New Roman', Times, serif;
        // font-family: "EB Garamond", serif;
        font-weight: 600;
        font-size: 1em;
        letter-spacing: normal !important;
        line-height: 1;
        margin-left: 1em;
        padding: 2px;

        .transf {
            color: purple;
            font-weight: 900;
        }

        .insert {
            color: blue;
            font-weight: 900;
            // text-decoration: underline;

        }

        .s_d {
            color: crimson;
            font-weight: 900;
            // background-color: antiquewhite;
            // text-decoration: underline;
        }
    }

}