#clani {
    background-color: antiquewhite;
    font-family: "Noto Sans", sans-serif;

    .laddie {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sow {
        margin: 0 0.2em;
        text-align: center;
    }

    .liddy {
        font-size: 5em;
        font-weight: 900;

        &.longa {
            color: red;
        }

        &.shorta {
            color: orangered;
        }

        &.longo {
            color: blue;
        }

        &.shorto {
            color: rgb(13, 0, 255);
        }

        &.longu {
            color: green;
        }

        &.shortu {
            color: rgb(11, 178, 11);
        }

        &.longi {
            color: brown;
        }

        &.shorti {
            color: rgb(220, 66, 66);
        }

        &.longe {
            color: rgb(191, 75, 191);
        }

        &.shorte {
            color: purple;
        }

    }

    .pronnie {
        font-size: 1.5em;
        color: darkblue;
    }




    .artie {
        color: red;
        display: flex;
        flex-direction: column;
        line-height: 0.8;
        margin: .5em 0.2em;
        border: 1px solid gray;
        padding: 5px;

        .mike {
            margin-top: 0.5em;
        }
    }

    .joos {
        background-color: gainsboro;

        .cooler {
            background-color: lightgoldenrodyellow;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;

            .zvuk {
                border: 1px solid gray;
                font-size: 5em;
                padding: 0 0.5em;

                &.light {
                    background-color: aliceblue;

                    &.deh {
                        background-color: burlywood;
                    }

                    &.dee {
                        background-color: lightblue;
                    }

                    &.doo {
                        // height: 1em;
                        color: lightblue;
                    }
                }

                &.dark {
                    background-color: darkslateblue;
                    height: 1em;
                }
            }

            .wurt {
                padding-left: 1em;
            }
        }
    }



}