#cnici {



    .row {
        width: fit-content;
        padding: 5px;
        font-size: 17px;
        font-family: "Noto Sans";
        margin: 1em 0;

        &.correct {
            background-color: rgb(163, 240, 163);
        }

        &.incorrect {}
    }


    .linked {
        // border-left: 1px solid gray;
        // border-left-color: red;
        // border: 1px solid #333;
        position: relative;

        &::before {
            content: ' \25E0';
            color: rgb(44, 118, 229);
            position: absolute;
            top: -33px;
            left: -20px;
            font-size: 45px;
        }


    }


}