#dmitry {
    font-family: "Open Sans", sans-serif;
    width: 100%;

    .spelling_switch {
        margin-bottom: 1em;
    }

    .random-word-section {
        // background-color: aqua;
        border-radius: 10px;
        border: 1px solid gray;
        margin: 1em 0.1em;
        padding: 1em;
        // width: fit-content;

        // hide card number
        .patty {
            .face.front {
                p {
                    color: transparent;
                }
            }
        }


        .pickle {
            // margin: 0.5em 0;
            display: flex;
            flex-direction: column;

            button {
                padding: 0 1em;
                // background-color: rgb(12, 86, 176);
                background-color: rgb(62, 133, 219);
                color: aliceblue;
                border-radius: 5px;
                text-shadow: 1px 1px 1px #111;

                &:active {
                    background-color: rgb(11, 64, 130);
                    ;
                }
            }

            p {
                // max-width: 8em;
            }
        }

    }

    .new-word-btn {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 3em;
        justify-content: space-between;
        margin: 0.5em 0;
        // max-width: 25em;
        width: 100%;


    }

    .wallace {
        // background-color: #bbb;
        color: #666;
        // font-style: italic;
        text-align: right;


    }

    .howard {
        display: grid;
        gap: 1rem;
        // grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));


        button {
            box-shadow: 1px 1px 1px #bbb;
            color: #555;
            line-height: normal;
            padding: 0.5em;
            text-align: center;
            text-decoration: none;
            cursor: pointer;

            .session {
                font-size: 1.5em;
            }

            .number {
                font-size: 3em;
            }

            .date {
                font-size: 1em;
            }
        }
    }
}