$bkgd: #fff6e6;
$side: #ffddd6;
$cardno: #efc4d6;

// $ipatext: #333;
// $ipatext: darkred;
$ipatext: #222;


// $spelltext: #333;
$spelltext: darkblue;
$spelltext: royalblue;

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: $bkgd;
    color: #333;
    margin: 0;
    padding: 1rem;
}

.words_ {
    .attn {
        background-color: white;
        color: coral;
        width: fit-content;
    }
}

.words {
    /* columns: 100px 6; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    margin-bottom: 3em;
    padding: 1em;
}


.part {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    /* border: 1px solid #ddd; */
    background-color: #fff;
    // margin: 10px;
    padding: 1em;
    min-width: 10em;
    text-align: center;
    cursor: pointer;
    /* transition: transform .2s; */

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;

    p {
        bottom: 0;
        color: $cardno;
        font-size: 3em;
        font-weight: 900;
        left: 5px;
        margin: 0;
        position: absolute;
    }
}



.part:hover {
    /* transform: scale(1.05); */
    /* background-color: #fff; */
}

.part1 {
    background-color: $side;
    display: flex;
    justify-content: center;
    line-height: normal;
}


.rus {
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
    font-size: medium;
    z-index: 1;
}

.cefr {
    color: palevioletred;
    font-size: small;
}


.spell {

    /* font-family: "Playwrite DE Grund Guides", cursive; */
    font-family: "Noto Sans", serif;
    // font-family: Georgia, 'Times New Roman', Times, serif;
    // font-family: Verdana, Geneva, Tahoma, sans-serif;


    font-style: normal;
    font-weight: 600;
    color: $spelltext;


}

.ipa {
    color: $ipatext;
    font-family: "Noto Sans", serif;
    font-size: large;
}

.vowel {
    color: forestgreen;
}

/*=======================================*/
/* example sentences*/
/*=======================================*/

.sentences,
.song {
    background-color: #fff;
    padding: 1em;
}

.sentences {
    /* font-weight: 600; */
    color: royalblue;
    font-family: "Playwrite DE Grund Guides", cursive;
    font-size: x-large;
}

.sentences li {
    margin-bottom: 0.5em;
}

.sentences .tw {
    /* background-color: black; */
    color: #333;
}

.sentences i {
    /* opacity: 0; */
    /* padding: 0 3px; */
    background-color: black;
    color: transparent;
    cursor: pointer;
    font-style: normal;
    transition: all 0.2s;
}

.sentences i:hover {
    opacity: 1;
    background-color: #fff;
    color: black;

}

.song {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
}

/*=============================
signification over words
===============================*/
span.sgn {
    background-color: yellow;
    position: relative;
    word-spacing: normal;
}

span.sgn i {
    color: gray;
    font-size: small;
    left: 0;
    position: absolute;
    top: -11px;
}

/* NEW ADDITION 250223  */


.spell,
.rus,
.ipa {

    word-break: break-word;
}

.word {
    // max-width: 50%;
    max-width: 23em;
    width: -webkit-fill-available;
}

.rus {
    font-size: large;
}

.cefr {
    display: none;
}

.spell {
    margin-top: 1em;
    font-size: 1em;
}

.ipa {
    font-size: 1em;
}


.ipa,
.spell {
    font-size: 1.5em;
    line-height: normal;
}

.tom {
    p {
        font-size: 2em;
    }

    // span {
    //     font-size: 13px;
    //     font-weight: 700;
    //     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    //     color: #aaa;
    //     margin-left: 1em;

    // }

    ol {
        margin: 1em;
        padding: 1em;
    }

}

.derek {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;

    p {
        background-color: #fff;
        box-shadow: 1px 1px 1px #bbb;
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            color: #555;
            line-height: normal;
            padding: 0.5em;
            text-align: center;
            text-decoration: none;

            .session {
                font-size: 0.7em;
            }

            .number {
                font-size: 2em;
            }

            .date {
                font-size: 0.3em;
            }
        }
    }
}

.pijne {
    padding: 10px;

    button {
        margin: 0 10px 0 0;
        padding: 5px;

        &:hover {
            cursor: pointer;
        }
    }
}

/***/
.sentence {
    padding-top: 1em;
    position: relative;

    .glico {
        color: darkblue;
    }

    .fanva {
        color: #333;
        font-size: 20px;
        font-style: italic;
    }

    .kanju {
        color: rgb(16, 186, 16);
        left: 1px;
        position: absolute;
        top: 1px;
    }
}

.spelling_switch {
    align-items: center;
    // border: 1px solid;
    display: flex;
    flex-direction: row;


    button {
        margin: 0.5em;
        padding: 0.5em;
        border-radius: 5px;
        letter-spacing: 1px;
        border-color: #aaa;
    }
}




.spelling {
    font-weight: 900;

    &.on {
        color: #0a970a;
        text-shadow: 0px 0px 3px #10c31f;
    }

    &.off {
        color: gray;
    }
}