.jimte {

    font-family: "Noto Sans", sans-serif;


    .red-border {
        border: 1px solid red;
        padding: 4px 8px;
        display: inline-block;
        border-radius: 4px;
        font-size: large;
    }

    .kili {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }
}