@mixin typography {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    text-transform: lowercase;
    font-size: 1.2em;
}

.spaceship {
    display: flex;
    flex-direction: row;

    section {
        &.navigation {
            @include typography();
            font-family: "Open Sans", sans-serif;
            text-transform: lowercase;
            // background-color: aqua;
            margin: 1em;

            nav {
                ul {
                    list-style-type: none;
                    padding: 0;
                    display: flex;
                    flex-direction: column;

                    li {
                        display: inline-block;
                        font-size: 1.5em;
                        margin: 0.5em 0;
                        text-transform: lowercase;

                        &:hover {
                            background-color: rgba(
                                $color: #000000,
                                $alpha: 0.1
                            );
                            transform: translate(5px, 0px);
                        }

                        transition: all;
                        transition-duration: 0.3s;
                    }

                    a {
                        text-decoration: none;
                        // background-color: aquamarine;

                        padding: 1em 0;
                    }
                }
            }
        }

        &.spacesuit {
            width: 100%;
        }
    }

    header.head,
    footer.feet {
        @include typography();
    }

    header.head,
    footer.feet {
        padding: 0.5em 1em;
        color: rgba($color: #000000, $alpha: 0.4);
        text-align: center;
    }
}

.spacesuit {
    // display: flex;
    // border: 1px solid red;
    // margin-bottom: 1em;
    .torso {
        display: flex;
        flex-direction: row;
        width: 100%;

        section {
            // border: 1px solid red;

            // <Outlet />
            &.main {
                width: 100%;
            }
        }
    }
}

.explain {
    text-align: center;
}
