#linsi {
    font-family: "Noto Sans", sans-serif;
    // background-color: aqua;
    width: 100%;

    .mesherakov {

        display: grid;
        gap: 1rem;
        // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        // grid-template-columns: repeat(auto-fill, minmax(min(10rem, 33%), 1fr));
        grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

        button {
            padding: 1em 0.3em;
            cursor: pointer;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }
    }
}