// FlipCardPage.scss

.pelli {
    font-family: "Open Sans", sans-serif;
    min-height: 100vh;
    // background-color: #f3f4f6; // Tailwind's gray-100
    padding: 2rem;
    width: 100%;

    .linus {
        font-size: large;
    }
}