$botan: #E761A4; // 牡丹 "пион древовидный" -- Красный с малиновым оттенком цвет, который имитирует цвет пиона древовидного и пользуется популярностью с периода Хэйан.  -- https://t.me/japaniste_hedoniste/1067
$odo_iro: #CE9B0E; // 黄土色 о:до иро "охра" HEX: #CE9B0E  https://t.me/japaniste_hedoniste/1051
$tori_no_ko_iro: #F8EED1; // 鳥の子色 тори-но ко иро "цыплячий цвет" https://t.me/japaniste_hedoniste/1040
$sharegaki: #F7BD8F; // 洒落柿 сярэгаки "модный цвет хурмы" https://t.me/japaniste_hedoniste/1036
$shimbashi_iro: #5AC2D9; // 新橋色 симбаси иро "цвет района Симбаси" Это другое название для цвета компару (https://t.me/japaniste_hedoniste/397) - модного в период Мэйдзи. https://t.me/japaniste_hedoniste/1018
$yurushi_iro: #FCD4D5; // 聴色 юруси иро "разрешенный цвет" Если есть разрешенный цвет, значит, должен быть и запрещенный цвет - и мы обнаружим его в том же спектре, только более насыщенным. Для таких оттенков в древности использовался шафран - очень дорогое растение, поэтому высокое содержание его предусматривалось для людей более высокопоставленных (а запрещенные цвета подразумевали использование только первыми пятью ступенями табели о рангах). https://t.me/japaniste_hedoniste/1013*/
$tapmopo_iro: #FFE200; // : 蒲公英色  тампопо иро "одуванчиковый цвет" Хотя одуванчик, разумеется, становится со временем белым, для обозначения цвета используется именно этот, солнечно-желтый оттенок ☀️.https://t.me/japaniste_hedoniste/1008
$beni_nezu: #A06F70; // : 紅鼠 бэни нэдзу "алый с серой ноткой" Даже у такого яркого и броского оттенка, как бэни "алый", есть своя "мышиная" разновидность 🐀.https://t.me/japaniste_hedoniste/1002
$imayo_iro: #D0576B; //  今様色 имаё: иро "модный цвет" Има или имамэкасии - одно из ключевых понятий периода Хэйан. При всем уважении к древним вещам и вещам с историей хэйанцы обожали все современное и модное, именно это и стояло за термином има, и это следует понимать как "модный цвет". https://t.me/japaniste_hedoniste/996
$oreku: #9FBB00; // 鸚緑 о:рёку "зеленый, как попугай"  Попугаи были завезены в Японию еще в древности с материка (если вы знаете, какие именно виды, буду вам очень признательна за комментарии!) и разводились знатью. https://t.me/japaniste_hedoniste/991
$saga_nezumi: #B08D84; // 嵯峨鼠 сага нэдзуми "мышиный Сага" Сага - это район в Киото, который связан с аристократической и императорской культурой, следовательно, является синонимом утонченнейшей элегантности. А оттенок серого - это уже мода более позднего времени.  https://t.me/japaniste_hedoniste/976
$omoi_iro: #D82115; // 思色 омои иро "цвет чувств" Глагол омоу в современном языке скорее означает думать, тогда как в древнеяпонском он имел отношение и к области чувств - "думать о любимом человеке, любить". Есть любопытная версия названия этого цвета, которая представляется мне вероятной в силу особенностей орфографии каной в древнеяпонском языке, - омохи иро, где хи записано иероглифом "огонь" 火, и получается "цвет полыхающих чувств" ❤️‍🔥.https://t.me/japaniste_hedoniste/970
$haizakura: #E8D3D1; // 灰桜 хайдзакура "пепельная сакура" К пеплу цветов это не имеет никакого отношения: другое название цвета - сакура нэдзуми 桜鼠, и это очередной цвет из группы "мышиных оттенков", появившихся в период Эдо. https://t.me/japaniste_hedoniste/962 
$ginshu: #E24215; // 銀朱  гинсю "серебряно-киноварный"  Это цвет киновари, в которую добавлялась ртуть - такая смесь использовалась с древности в ритуальных целях. https://t.me/japaniste_hedoniste/955
$momoshiocha: #724938; // 百塩茶 момосиотя "насыщенно-коричневый цвет" Любопытно название этого цвета: тя 茶- это "коричневый" (во всяком случае, к периоду Эдо, скорее всего, означал именно коричневый); момо 百 - это сто (да, у этого иеролифа есть такое, достаточно редкое чтение), а сио 塩 - это не соль, а способ обработки ткани многократным вымачиванием. https://t.me/japaniste_hedoniste/949
$tsutsuji_iro: #E02C87; // 躑躅色  цуцудзи иро "цвет азалии" Азалия бывает разных цветов, но в контексте употребления в качестве названия цвета обычно имеется в виду вот такой, розово-красный. Несмотря на свою кричащую яркость, это не заимствованный цвет, он известен с периода Хэйан. https://t.me/japaniste_hedoniste/942
$fuji_nezumi: #6E75A4; // 藤鼠 фудзи нэдзуми "цвет глицинии с серой ноткой"  HEX: #6E75A4 Ставшая регулярной рубрика "мышиные оттенки" - на этот раз фиолетовый цвет. Справедливости ради, стоит заметить, что мне они очень нравятся, именно общим подтоном, который позволяет легко их сочетать между собой. https://t.me/japaniste_hedoniste/935
$murasaki_shikibu: #90326D; // 紫式部 мурасаки сикибу "фиолетовый мурасаки сикибу"  На первый взгляд кажется, что этот цвет назван в честь писательницы Мурасаки Сикибу, но есть мнение, что изначально речь шла о кустарнике с фиолетовыми ягодами, который назывался мурасаки сикими, что очень созвучно с мурасаки сикибу. 
$kaki_iro: #DE6A1C; //  柿色 каки иро "цвет хурмы"  Яркий и насыщенный оранжевый цвет, который уподобляется плодам хурмы, - во всяком случае, в таком значении это понятие употребляется с периода Эдо. https://t.me/japaniste_hedoniste/1083

#sidju {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    display: grid;
    gap: 1rem;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(min(10rem, 33%), 1fr));
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

    button {
        border-radius: 1em;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 1em 0.3em;

        .polly {
            font-weight: 600;
            color: #333;
            margin-bottom: 1em;
        }

        &.Alfabeta {
            background-color: $botan;
            color: white;
        }

        &.AspSC {
            background-color: $kaki_iro;
            color: white;
        }

        &.Asti {
            background-color: $odo_iro;
        }

        &.Clani {
            background-color: $tori_no_ko_iro;
        }

        &.Cnici {
            background-color: $sharegaki;
        }

        &.Cnicro {
            background-color: $shimbashi_iro;
        }

        &.Gadri {
            background-color: $yurushi_iro;
        }

        &.Grapheme {
            background-color: $fuji_nezumi;
            color: white;
        }

        &.Jimte {
            background-color: $tapmopo_iro;
        }

        &.Kalsa {
            background-color: $murasaki_shikibu;
            color: white;
        }

        &.Kooi {
            background-color: $beni_nezu;
            color: white;
        }

        &.Linsi {
            background-color: $imayo_iro;
            color: white;
        }

        &.Prenu {
            background-color: $oreku;
        }

        &.Rimni {
            background-color: $saga_nezumi;
            color: white;
        }

        &.Ruo {
            background-color: $omoi_iro;
            color: white;
        }

        &.Smuni {
            background-color: $haizakura;
        }

        &.Uenba {
            background-color: $ginshu;
            color: white;
        }

        &.Voksa {
            background-color: $momoshiocha;
            color: white;
        }

        &.Zunsna {
            background-color: $tsutsuji_iro;
            color: white;
        }
    }





    // display: flex;
    // flex-direction: column;
    // gap: 10px;
    // flex-wrap: wrap;

    // .pippy {
    //     display: flex;
    //     flex-direction: column;
    //     // flex-wrap: wrap;

    //     button {
    //         padding: 5px;
    //         min-width: 5em;
    //     }

    //     .ribbet {
    //         margin-left: 3px;
    //     }
    // }
}