#sidju {
    font-family: "Noto Sans", sans-serif;
    width: 100%;
    display: grid;
    gap: 1rem;
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    // grid-template-columns: repeat(auto-fill, minmax(min(10rem, 33%), 1fr));
    grid-template-columns: repeat(auto-fill, minmax(min(10rem, 100%), 1fr));

    button {
        padding: 1em 0.3em;
        cursor: pointer;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .polly {
            font-weight: 600;
            color: #333;
            margin-bottom: 1em;
        }

        &.Alfabeta {
            background-color: rgb(151, 137, 233);
        }

        &.Asti {
            background-color: rgb(70, 203, 63);
        }

        &.Clani {
            background-color: rgb(169, 178, 85);
        }

        &.Cnici {
            background-color: rgb(61, 142, 131);
        }

        &.Cnicro {
            background-color: rgb(193, 81, 148);
        }

        &.Gadri {
            background-color: rgb(39, 133, 170);
        }

        &.Jimte {
            background-color: rgb(198, 154, 107);
        }

        &.Kooi {
            background-color: rgb(212, 116, 143);
        }

        &.Linsi {
            background-color: rgb(50, 141, 161);
        }

        &.Prenu {
            background-color: rgb(176, 103, 210);
        }

        &.Rimni {
            background-color: rgb(156, 154, 230);
        }

        &.Ruo {
            background-color: rgb(195, 97, 97);
        }

        &.Smuni {
            background-color: rgb(171, 130, 130);
        }

        &.Uenba {
            background-color: rgb(103, 168, 123);
        }

        &.Voksa {
            background-color: rgb(190, 96, 238);
        }

        &.Zunsna {
            background-color: rgb(92, 142, 207);
        }
    }





    // display: flex;
    // flex-direction: column;
    // gap: 10px;
    // flex-wrap: wrap;

    // .pippy {
    //     display: flex;
    //     flex-direction: column;
    //     // flex-wrap: wrap;

    //     button {
    //         padding: 5px;
    //         min-width: 5em;
    //     }

    //     .ribbet {
    //         margin-left: 3px;
    //     }
    // }
}