// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-green: #42b983;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem; // 1140px
$gutter-ns: 8rem; // 80px north to south , longitude
$gutter-ew: 6rem; // 60px east to west, latitude


// BOX SHADOW
$box-shadow-1: 0 1.5rem 4rem rgba($color-black, 0.15);
$box-shadow-d: 0 1.5rem 4rem rgba($color-black, 0.2);
$box-shadow-form-input: 0 1rem 2rem rgba($color-black, .1);

$swivel-card-height: 52rem;

$border-radius-slight: 3px;