#grapheme {

    font-family: "Noto Sans", sans-serif;

    li {
        margin-left: 2em;
    }

    // background-color: aquamarine;
    .cox {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 1.5em;

    }

    .cell {
        margin-right: 1em;
    }

    .xyz {
        font-size: 3em;
        // font-weight: 600;
        color: brown;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    .abc {
        background-color: pink;
        font-size: 2em;
        padding: 0 0.5em;
    }

    .fgh {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 3em;
        color: rgb(38, 85, 195);

        b {
            color: black;
            background-color: rgb(250, 236, 219);
            border-bottom: 1px solid red;
            border-right: 1px solid rgb(229, 89, 89);
            // font-style: italic;
            transform: translateY(-3px);
            display: inline-block;
            padding: 1px 2px;
            margin-right: 3px;
            font-weight: 500;
        }

        i {
            // font-style: normal;
            background-color: rgb(219, 234, 246);
            border-bottom: 1px solid rgb(59, 137, 226);
            border-right: 1px solid rgb(84, 135, 197);
            padding: 1px 2px;
            margin-right: 3px;
        }
    }
}